<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>  <!-- "title" helper is defined in application_helper -->
	<%= csrf_meta_tags %>	<!-- embeded method used for security reasons -->
	<%= render 'layouts/stylesheets' %>
</head>

<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<section class="round">
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>